.controlles_buttons_div i {
    margin: 0 1rem;
    color: var(--lightWhite);
    cursor: pointer;
}

.controlles_active {
    color: var(--mainColor) !important;
}

.music_info_div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}

.audio_div_elm {
    display: none;
}

.music_info_div .music_duration_div {
    width: 500px;
    height: 3px;
    background-color: var(--lightWhite);
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.music_duration_inner_div {
    position: absolute;
    width: 0;
    height: 100%;
    background-color: var(--lightGreen);
    top: 0;
    left: 0;
    transition: all 0.3s ease;
}

.music_info_div p {
    color: var(--lightWhite);
    margin-bottom: 0;
    margin: 0 1rem;
    font-size: 0.7rem;
}

.music_controoles_div {
    visibility: hidden;
    transition: all 0.3s ease;
}

.show_music_controlles {
    visibility: visible;
}

.audio_controlle_elm {
    width: 100%;
}
