.Music_cart_div {
    width: auto;
    border-radius: 8px;
    padding: 0.8rem;
    transition: all 0.3s ease;
    position: relative;
    margin: 0 0.5rem;
    background-color: var(--grayColor);
    height: 100%;
}

.music_cart_image_div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.musicPlayButton {
    width: 60px;
    height: 60px;
    border: 50%;
    background-color: var(--lightGreen);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    bottom: 20px;
    opacity: 0;
    transition: all 0.3s ease;
    cursor: pointer;
}

.musicPlayButton i {
    font-size: 20px;
}

.musicPlayButton i {
    color: var(--mainColor);
}

.card_bg_imag {
    width: 170px;
    height: 170px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.music_cart_contnet {
    transition: all 0.4s ease;
}

.Music_cart_div:hover .music_cart_contnet {
    opacity: 1;
}

.Music_cart_div:hover .musicPlayButton {
    opacity: 1;
}

.all_music_list_cart h1 {
    color: var(--mainColor);
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
    font-weight: 700;
    transition: all 0.4s ease;
}

.Music_cart_div h3 {
    color: var(--mainColor);
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0;
}
.Music_cart_div p {
    color: var(--lightWhite);
    margin-top: 0.2rem;
    font-size: 13px;
}
