.option_sm_div {
    width: 100%;
    padding: 0.8rem 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 0.8rem;
}

.option_sm_div p {
    margin-bottom: 0;
    margin-left: 1rem;
    color: var(--lightWhite);
}
.option_active i {
    color: var(--mainColor) !important;
}
.option_active p {
    color: var(--mainColor);
}
