.your_library_banner_div {
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-image: linear-gradient(to right bottom, #299aaa, #007da1, #006095, #004282, #0f2267);
    border-radius: 12px;
    position: relative;
}

.your_library_banner_div h3 {
    color: var(--mainColor);
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 26px;
}

.your_library_banner_div .liked_bannr_content h1 {
    color: var(--mainColor);
    font-size: 70px;
    margin-bottom: 0;
}

.your_library_banner_div .liked_bannr_content p {
    color: var(--mainColor);
    font-size: 15px;
}

.your_library_banner_div .liked_bannr_content {
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 2rem;
}

.library_playButton_Div {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--lightGreen);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.library_playButton_Div i {
    font-size: 23px;
    color: var(--mainColor);
}