.right_sidebar_div {
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    padding: 1.5rem;
}

.right_sidebar_div p {
    color: var(--mainColor);
    font-size: 14px;
    line-height: 23px;
}
