* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
    width: 6px;
}

/* Track */

body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */

body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* color */
:root {
    --lightGreen: #1db954;
    --dark: #100f0f;
    --mainColor: #ffff;
    --black: #000;
    --grayColor: rgb(34, 34, 34);
    --lightWhite: #a3a3a3;
    --grayLight: rgb(95, 95, 95);
    --lightBgCl: #f4f6fd;
    --darkLightCl: #1e2f65;
    --activeBrCl: #f4f6fd;
    --newCl: #1f98ff;
    --lightGray: #a7acb1;
    --redCl: #e73c3c;
    --sm_gray: #3f3f3f;
}
/* color */

/* global classes */
a {
    text-decoration: none !important;
}

.side_padding {
    padding: 0 150px;
}

.side_padding_one {
    padding: 0 180px;
}

.top_padding {
    padding: 100px 0;
}

.top_padding_one {
    padding: 120px 0;
}
/* global classes */
