.songUpload_sm_Elm {
    width: 100%;
    height: 50px;
    padding: 1rem;
    background-color: var(--mainColor);
    border: none;
    border-radius: 8px;
    color: var(--dark);
    outline: none;
    margin: 0.3rem 0;
    box-shadow: 0 0 2px var(--lightGray);
}
.input_lable_div {
    font-size: 14px;
    color: var(--sm_gray);
    margin-top: 0.5rem;
}
